<nav class="navbar navbar-expand navbar-dark bg-secondary">
    <div class="container{% if page.container == 'fluid' %}-fluid{% endif %}">
        <a class="navbar-brand mr-md-3" href="http://www.tdwg.org">TDWG</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-md-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ '/' | absolute_url }}">Home</a>
            </li>
            {% for page in site.navbar.left %}
                {% if page.menu %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">{{ page.text }}</a>
                    <div class="dropdown-menu">
                    {% for subpage in page.menu %}
                        <a class="dropdown-item" href="{{ subpage.href | absolute_url }}">{{ subpage.text }}</a>
                    {% endfor %}
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ page.href | absolute_url }}">{{ page.text }}</a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
            <ul class="navbar-nav">
            {% for page in site.navbar.right %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ page.href | absolute_url }}">{{ page.text }}</a>
                </li>
            {% endfor %}
            </ul>
        </nav>
    </div>
</nav>