---
---

@import "{{ site.theme }}";
code {
    font-family: unset
}

body {
    font: unset
}

header {   
    background: #000000; 
    padding: 12px 20px 12px 20px;
    h1 {
        font: 40px/48px 'Minion', "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-shadow: 0px 2px 0px #000000;
        color: #D8AB4C;
    }
    p {
        color: #D8AB4C;
    }    
}

#banner { 
    margin-right: 0;
    right: 0;
    top: 100px;
    background: #D8AB4C;
    border: 1px solid #D8AB4C;  
    height: 25px;
    
    .button {
        padding: 5px 6px;
        margin-top: 3px;
        line-height: 7px;
        font-size: 12px;    
    }
#logo {
    display: none;
    }
}

.breadcrumb {
    padding-top:4px;
    list-style: none;
    border-radius: 4px;
  }
  .breadcrumb > li {
    display: inline-block;
  }
  .breadcrumb > li + li:before {
    padding: 0 5px;
  }
  
  .breadcrumb { border: 0px;  display: block;}
  .breadcrumb li {font-size: 14px;}
  .breadcrumb a {color: #000000;}
  .breadcrumb a:hover {color: darken(#000000, 20%);}
  .breadcrumb>.active a {color: #555555; }
  .breadcrumb>li+li:before {color:#000000; content: "\003E\00a0";}  

section {
    width:650px;
    margin-top: 150px;
}      

nav {
    top: 170px;
    text-align: left;      
}

footer {
    text-align: left;      
}