---
---

@import "{{ site.theme }}";
header {   
    background: #000000; 
    padding: 12px 20px 12px 20px;
    h1 {
        font: 40px/48px 'Minion', "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-shadow: 0px 2px 0px #000000;
        color: #D8AB4C;
    }
    p {
            color: #D8AB4C;
    }    
}

#banner { 
    margin-right: 0;
    right: 0;
    top: 100px;
    background: #D8AB4C;
    border: 1px solid #D8AB4C;  
    height: 25px;
    .button {
        padding: 5px 6px;
        margin-top: 3px;
        line-height: 7px;
        font-size: 12px;    
    }
#logo {
    display: none;
    }
}

section {
    width:650px;
}      

nav {
    top: 180px;       
}